<!--<div class="content" style="min-height:800px;">
    <div class="container">
       

       <div class="row" style="">
           <div class="col-md-12">
                  <h1 class="bigtitle">OUR NETWORK</h1>
            </div>
        </div>
       
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET HUB <br> <small>360<sup>o</sup>DIAGNOSTICS</small></h2>
                <div class="text-center" style="padding:30px">
                    <img src="./assets/images/iconimages/networkimages/1.png" width="70%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">Tenet Hub is our flagship brand, where we bring together state-of-the-art equipment, premier medical software and health experts for accurate,reliable testing and results across Pathology,Radiology and imaging.turn to us for quick, reliable information</p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/2.png" width="70%"/>
                        <h4 class="text-brandcolor">XRAY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/3.png" width="70%"/>
                            <h4 class="text-brandcolor">ULTRA <br>SOUND</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/4.png" width="70%"/>
                            <h4 class="text-brandcolor">MRI-3TESLA</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/5.png" width="70%"/>
                        <h4 class="text-brandcolor">TMT</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/6.png" width="70%"/>
                        <h4 class="text-brandcolor">PULMONARY <br> FUNCTION TEST</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET PRO<br> <small>EXPERTS IN RADIOLOGY & PATHOLOGY</small></h2>
                <div class="text-center" style="padding:30px">
                    <img src="./assets/images/iconimages/networkimages/1.png" width="55%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">Driven by the desire to high-quality diagnostics to everyone, we are changing the way Radiology and Pathology testing is assessed. At Tenet Plus, we employ state of the art diagnostic technology coupled with the latest R&D to bring affordable, best-in-class services to you. this helps you identify problems areas early to take smart, quick action. </p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/2.png" width="70%"/>
                        <h4 class="text-brandcolor">XRAY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/3.png" width="70%"/>
                            <h4 class="text-brandcolor">ULTRA <br>SOUND</h4>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET EXPRESS<br> <small>QUICK.RESPONSIVE.</small></h2>
                <div class="text-center" style="padding:5px">
                    <img src="./assets/images/iconimages/networkimages/1.png" width="40%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">Busy lives can make even the most basic diagnostics difficult to access. That’s why we are bridging the
                        gap between you and accurate testing. Tenet Express outlets are spread over multiple neighborhoods,
                        bringing the most common diagnostic facilities right to you, wherever you are.  </p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/8.png" width="65%"/>
                        <h4 class="text-brandcolor">HEMATOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/7.png" width="70%"/>
                            <h4 class="text-brandcolor">CLINICAL<br>BIOCHEMISTRY</h4>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET DOORSTEP<br> <small>EASY PROFESSIONAL. CONVIENENT</small></h2>
                <div class="text-center" style="padding:5px">
                    <img src="./assets/images/iconimages/networkimages/5.png" width="70%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">For the truly busy and the housebound, we proudly present Tenet Doorstep: quality diagnostic services,
                        
                        from the ease and comfort of your home/office. Our phlebotomists will arrive at your doorstep,
                        guardedly collect your samples and effortlessly handle all the logistics, making it an enduring first class
                        experience in receiving your reports.  </p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/9.png" width="75%"/>
                        <h4 class="text-brandcolor">PHLEBOTOMY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/10.png" width="70%"/>
                            <h4 class="text-brandcolor">URINE SAMPLE<br>COLLECTION</h4>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="row">
             <div class="col-md-12 text-center">
                <h2 class="titles" style="font-size:25px"><img src="./assets/images/iconimages/teneticon.png" height="35" style="margin:0px 20px 10px 0px; " /><a href="./contactus"  class="titles">Click here to locate your nearest Tenet Express</a></h2>
                
             </div>
        </div>
        <hr>
             <!--Search Content-->
        <!-- <div class="row" style="margin-top:30px; margin-bottom:0px;">
                <div class="col-md-12 text-center">
                    <div class="form-group" style="margin: 40px 100px;">
                        <div #searchString type="text" class="input-group search_input-group">
                          <input type="text" class="form-control input-lg" placeholder="Search for your nearest tenet center, test or service." aria-describedby="basic-addon2" [formControl]="searchTerm" (keyup.enter)="searchBasedOnString(searchTerm.value)" [(ngModel)]=filterKey>
    
                           <label *ngIf="searchTerm.invalid" [ngClass] = "'error'"> SearchTerm required with min 3 characters. </label> 
                          <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"  (click)="searchBasedOnString(searchTerm.value)"> 
                                <span><i class="fas fa-circle" style="color:#f05b25; font-size: 30px;margin-top: -7px;"></i></span>
                                <div style="font-size: 14px;margin-top: -22px; color:#f05b25"><i class="fa fa-search"></i></div>
                                  
                          </span>
                        </div>
                         <div class="suggestions" *ngIf="searchResult.length > 0">
                                    <div *ngFor="let item of searchResult">
                                        <div>
                                            <a (click)="select(item.test_name)">{{item.test_name}}</a>
                                        </div>
                                    </div>
                        </div>
                        <div class="suggestions" *ngIf="_packages.length > 0">
                            <div *ngFor="let item of _packages">
                                <div>
                                    <a (click)="select(item.package_name)">{{item.package_name}}</a>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>  
            </div> -->
          
        
         
            <!--<div class="row" style="padding:30px 0;">
                <div class="col-md-6 text-center " style="padding:20px">
                     <button class="btn btn-brand btn-lg home_btn" (click)="getBookAnAppointment()" style="height: 70px;padding: 0 50px;">Book a test</button>
      
                </div>
                <div class="col-md-6 text-center left-border-brandcolor-light-2px" style="padding:20px">
                      <span *ngIf="tokenSet"><button class="btn btn-brand btn-lg home_btn" (click)="redir('./account/order-history')" style="text-align:center;height: 70px;padding: 0 50px;">Check Report <br> Status</button></span>  
                <span *ngIf="!tokenSet"><button class="btn btn-brand btn-lg home_btn" data-toggle="modal" data-target="#book_modal" data-backdrop="false" style="text-align:center;height: 70px;padding: 0 50px;">Check Report <br> Status</button></span>

                </div>
         </div>
<div id="book_modal" class="modal theme_modal" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn modal_close_btn"  data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                    <form #lf="ngForm" novalidate (ngSubmit)="loginSubmit(lf,lf.valid)">
                        <div class="form-group">
                            
                             <input type="text" class="form-control theme"  placeholder="Enter TIN Number or Mobile number" name="phone" ngModel  required #phone="ngModel">

                              <div style="color:#fc6107" 
                                *ngIf="phone?.errors && (phone.dirty || phone.touched || lf.submitted)">
                                      <p *ngIf="phone?.errors.required">
                                          The TIN number/Phone Number is required
                                      </p>
                              </div>
                        </div>
                         <div class="form-group">
                             
                              <input type="password" class="form-control theme"  placeholder="Password*" name="password1" ngModel  required #password1="ngModel">

                              <div style="color:#fc6107" 
                            *ngIf="password1?.errors && (password1.dirty || password1.touched || lf.submitted || password1.minlength)">
                                <p *ngIf="password1?.errors.required">
                                    The Password is required
                                </p>
                              
                            </div>

                         </div>
            
                    <div class="form-group">
                      <h5 class="titles text-left" style="font-weight:600; display:inline-block" data-toggle="modal" data-target="#forget_password_modal" data-backdrop="false">
                      <span style="margin-top:15px"><a href="./login">Forgot Password?</a></span>
                      </h5>
                    <button type="submit" class="btn btn-brand pull-right" >Submit</button>
                    </div>
            
                  </form> 
                
            </div>
        </div>
      </div>
     
    </div>
    

  </div>
</div>
    </div>
</div>-->
<div class="content" style="min-height:800px;">
	
	
    <div class="container">
            <div class="row" style="">
                    <div class="col-md-12 text-center">
                        <div class="form-group" style="margin: 30px 100px;">
              
          
                              <div class="input-group search_input-group">
                                <input #searchString type="text" class="form-control input-lg dropdown-toggle" data-toggle="dropdown" placeholder="Search for Pathology Tests, Scans, MRI, CT etc." aria-describedby="basic-addon2" aria-expanded="true" [formControl]="searchTerm" (keyup.enter)="searchBasedOnString(searchTerm.value)" [(ngModel)]=filterKey value="{{ser_string}}">
                                <span class="" style="color: #f05b25;position: absolute;top: 12px;right: 60px;z-index: 2;padding-right: 10px;cursor:pointer;" (click)="searchString.value=''">X Clear</span>
                              <div class="dropdown-menu search_dropdown" style="width:100%;max-height:250px;overflow-y:auto;    z-index: 1999;">
                                  <ul class="search_ul" >
                                         
                                      <li class="heading" *ngIf="searchResult.length > 0"><i class="fa fa-history"></i> Tests Related to {{searchTerm.value}}</li>
                                      <li *ngFor="let item of searchResult"><a (click)="select(item.test_name,'test')">{{item.test_name}}</a></li>
                                      
                                      <li class="heading" *ngIf="((_packagesSearchResult.length > 0)&&(mpckgshow===true))"><i class="fa fa-history"></i> Packages Related to {{searchTerm.value}}</li>
                                      <li *ngFor="let item of _packagesSearchResult"><a (click)="select(item.package_name,'package')">{{item.package_name}}</a></li>
          
                                      <li class="heading" *ngIf="((_packagesSearchResult.length ==0) && (searchResult.length==0) &&(searchString.value===''))">Popular Tests</li>
                                      <li *ngFor="let test of getPopularTests(searchString.value)" (click)="select(test,'test')">{{test}}</li>
          
                                  </ul>
                                </div>
          
                                <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"  (click)="searchBasedOnString(searchTerm.value)"> 
                                      <span><i class="fa fa-circle" style="color:#EEEEED ; font-size: 50px;margin-top: -7px;"></i></span>
                                      <div style="font-size: 35px;margin-top: -42px; color:#f05b25"><i class="fa fa-search"></i></div>
                                        
                                </span>
                              </div>
          
                          </div>
                      </div>
                        
                  </div>        
        
		<div class="row" style="">
           <div class="col-md-12">
                  <h1 class="bigtitle">OUR NETWORK</h1>
            </div>
        </div>
		<div class="row" style="">
		 	<h2 class="titles" style="font-size:25px"><img src="./assets/images/iconimages/teneticon.png" height="35" style="margin:0px 20px 10px 0px; ">ALL SERVICES UNDER ONE BANNER.</h2>
		</div>	
		<div class="row" style="">
				<div class="col-md-12">
					<div class="col-md-6">
					<h2 class="text-brandcolor">TENET HUB</h2>
					<h4>FOR 360° DIAGNOSTICS</h4>
						<p>Tenet Hub is our flagship brand, where we bring together state-of-the-art equipment, premier medical software and health experts for accurate, reliable testing and results across Pathology, Radiology and Imaging. When your patients turn to you for guidance, turn to us for quick, reliable information to help you make the right diagnosis.</p>
					</div>
					<div class="col-md-6">
					<h2 class="text-brandcolor">TENET PRO</h2>
					<h4>EXPERTS IN RADIOLOGY &amp; PATHOLOGY</h4>
						<p>Driven by the desire to offer a comprehensive range of high-quality diagnostics to everyone, we are changing the way Radiology and Pathology testing is accessed. At Tenet Pro, we employ the latest R&amp;D and technology to all our modalities to put you on your way to better health. With an exhaustive range of affordable, best-in-class services, we bring to you diagnostics that offer health results for overall wellbeing.</p>
					</div>
				</div>
        </div>
		<div class="row" style="">
				<div class="col-md-12">
					<div class="col-md-6">
					<h2 class="text-brandcolor">TENET EXPRESS</h2>
					<h4>QUICK. ACCESSIBLE. RESPONSIVE.</h4>
						<p>Busy lives can make even the most basic diagnostics difficult to access. That’s why we are proud to bridge the gap between your patients and accurate testing. Tenet Express locations can be found in multiple neighbourhoods, bringing the most common diagnostic facilities within minutes of your place of work.</p>
					</div>
					<div class="col-md-6">
					<h2 class="text-brandcolor">TENET DOORSTEP</h2>
					<h4>QUICK. CONVENIENT. RELIABLE.</h4>
						<p>What defines contemporary living is the ease of doing things. We have everything at the touch of a button, whether it’s ordering food or getting groceries home delivered. Why should healthcare be any different? For today’s busy and demanding times, we proudly present Tenet Doorstep: an Application based interface which allows the patient or client to order, pay and access reports of their tests from the comfort of their homes and offices. Our qualified collection experts will pick up samples and handle all the logistics, making it easier for the patients to get the information they can count on.</p>
					</div>
				</div>
        </div>
		<hr>
		<h2 class="titles" style="font-size:25px"><img src="./assets/images/iconimages/teneticon.png" height="35" style="margin:0px 20px 10px 0px; ">THE BELOW LIST FURTHER EXPLAINS OUR VARIOUS CENTERS AND THEIR SERVICE OFFERINGS. </h2>
<section style="margin-top:25px">
		<div class="row serviceoffering_list_row">
			<div class="col-md-12">
				<div class="row heading">
					<div class="col-xs-6 text-center">
						<h3>SERVICE OFFERINGS</h3>
					</div>
					<div class="col-xs-2 text-center">
						<h3>HUB</h3>
					</div>
					<div class="col-xs-2 text-center">
						<h3>PRO</h3>
					</div>
					<div class="col-xs-2 text-center">
						<h3>EXPRESS</h3>
					</div>
				</div>
				<div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/facilities/12.png" width="100%">
							</div>
							<span class="service_name">PATHALOGY</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">	
					</div>
				</div>
				<div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/facilities/102.png" width="100%">
							</div>
							<span class="service_name">MRI</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						
					</div>
					<div class="col-xs-2 text-center">
						
					</div>
				</div>
				<div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/facilities/5.png" width="100%">
							</div>
							<span class="service_name">MDCT</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
					<div class="col-xs-2 text-center">
						
					</div>
				</div>
				<div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/set2/2.png" width="100%">
							</div>
							<span class="service_name">X-RAY</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						
					</div>
				</div>
				<div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/facilities/1.png" width="100%">
							</div>
							<span class="service_name">BMD</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
				</div><div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/set2/3.png" width="100%">
							</div>
							<span class="service_name">ULTRASOUND</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						
					</div>
				</div><div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/set2/5.png" width="100%">
							</div>
							<span class="service_name">TMT</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						
					</div>
				</div><div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/set2/6.png" width="100%">
							</div>
							<span class="service_name">PULMONARY<br>FUNCTION</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
				</div><div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/facilities/102.png" width="100%">
							</div>
							<span class="service_name">ECG/ENMG/EEG</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
				</div>
				<div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/facilities/08.png" width="100%">
							</div>
							<span class="service_name">2D ECHO</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
				</div>
				<div class="row content_row">
					<div class="col-xs-6">
						<div class="service_div">
							<div class="service_img_div">
								<img src="./assets/images/iconimages/facilities/07.png" width="100%">
							</div>
							<span class="service_name">MAMMOGRAPHY</span>
						</div>
					</div>
					<div class="col-xs-2 text-center">
						<img src="./assets/images/iconimages/facilities/mark.png" width="45%">	
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
					<div class="col-xs-2 text-center">
					
					</div>
				</div>
				
				
			</div>
			
		</div>
</section>
			
		
		
		
		
		
		<div class="row" style="margin-top:20px; margin-bottom:20px;">
			<h2 class="titles" style="font-size:25px"><img src="./assets/images/iconimages/teneticon.png" height="35" style="margin:0px 20px 10px 0px; ">OUR AVAILABLE LOCATIONS</h2>

			<div class="col-md-9">
				<div class="map">
									       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.564399995798!2d78.415769315349!3d17.43268010608457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9131d35c558f%3A0x3130d77ddad0c9ab!2s119%2C+Road+Number+10%2C+Sravanthi+Nagar%2C+ICRISAT+Colony%2C+Jubilee+Hills%2C+Hyderabad%2C+Telangana+500033!5e0!3m2!1sen!2sin!4v1516016360447" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>

				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<select class="form-control theme">
						<option>HUB</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control theme">
						<option>Locality</option>
					</select>
				</div>
				<ul class="tenet_details_ul list-group" style="height: 350px; overflow: auto; outline: none;" tabindex="1">
					<li>
						<h4>TENET BANJARA HILLS<br><span class="type">Hub</span></h4>
						<p>Rd number 36, Ph: 040 5555555</p>
					</li>
					<li>
						<h4>TENET jublli HILLS<br><span class="type">Express</span></h4>
						<p>Rd number 36, Ph: 040 5555555</p>
					</li>
					<li>
						<h4>TENET ameerpet<br><span class="type">pro</span></h4>
						<p>Rd number 36, Ph: 040 5555555</p>
					</li>
					<li>
						<h4>TENET kukatpally<br><span class="type">pro</span></h4>
						<p>Rd number 36, Ph: 040 5555555</p>
					</li>
					<li>
						<h4>TENET secunderabad<br><span class="type">Hub</span></h4>
						<p>Rd number 36, Ph: 040 5555555</p>
					</li>
				</ul>
			</div>
		</div>
        
		
		 <hr>
		
		 <div class="row" style="padding:30px 0;">
			<div class="col-md-6 text-center " style="padding:20px">
				 <button class="btn btn-brand btn-lg home_btn" (click)="getBookAnAppointment()" style="height: 70px;padding: 0 50px;">Book a test</button>
	
			</div>
			<div class="col-md-6 text-center left-border-brandcolor-light-2px" style="padding:20px">
					<!-- tokenSet -->
				<span *ngIf="tokenSet"><button class="btn btn-brand btn-lg home_btn" (click)="redir('./account/order-history')" style="text-align:center;height: 70px;padding: 0 50px;">Check Report <br> Status</button></span>  
				<span *ngIf="!tokenSet">
					<!-- <button class="btn btn-brand btn-lg home_btn" data-toggle="modal" data-target="#book_modal" data-backdrop="false" style="text-align:center;height: 70px;padding: 0 50px;">Check Report <br> Status</button> -->
					<button class="btn btn-brand btn-lg home_btn" (click)="getOTP()" style="text-align:center;height: 70px;padding: 0 50px;">Check Report <br> Status</button> 
				</span>  
				
			</div>
	 </div>
		
		<h4 class="text-center text-brandcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,  Call us on 86880 86880</h4>
		<hr>
	</div>
	
		
</div>